<% layout("layouts/boilerplate")%>
<style>
.card-img-top {
  height: 17rem;
  object-fit: cover;
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             
}
</style>


<body>
    <%- include("./includes/icons.ejs") %>
    
      <h2>Search Results for "<%= searchedList %>" </h2>
        <div class="row  row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
           
            <% for(let listing of listings){ %>
                <a href="/listings/<%= listing._id %>" class="listing_link">
                    <div class="card col" >
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                          <p class="card-text">
                            <b><%= listing.title %></b><br>
                            &#8377; <%= Number(listing.price).toLocaleString("en-IN") %>/night
                            <i class="tax-info">&nbsp; &nbsp; +18% GST </i>
                        
                          </p>
                        </div>
                    </div>
                </a>
            
                

            <% } %>  


        </div>
        <script src="/js/tax.js"></script>  
</body>
